#loading{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 970px;
    max-height: 30px;
    width: 100%;
    height: 100%;
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


#cont{
    max-width: 1192px;
    max-height: 602px;
    height: 100%;
    width: 100%;
    background-image: url(./img/monitor.png);
    background-size: 100% 100%;
    padding: 38px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#browser{
	height: 97%;
    width: 100%;
}


a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
    background: black;
    padding: 11px;
    position: relative;
    top: 19px;
    left: 0px;
    border-radius: 13px;
}

a:hover{
	background: gray;
	cursor: pointer;
}